<div class="container">
  <div class="row">
      <div class="col-md-5" >
        <h1 style="text-align: center;">댓글 남기기</h1>
          <form method="post">
              {% csrf_token %}
              <label for="nickname">닉네임:</label>
              <input type="text" id="nickname" name="nickname" class="form-control"><br>            
              <label for="password">비밀번호:</label>
              <input type="password" id="password" name="password" class="form-control"><br>              
              <label for="comment">댓글:</label>
              <textarea id="comment" name="comment" rows="4" cols="50" class="form-control"></textarea><br>              
              <input type="submit" value="댓글 남기기" class="btn btn-primary">
          </form>
      </div>
  </div>
    <div>
      {% for comment in comment_list %}
          <div style="border: 1px solid #ccc; padding: 10px; margin: 10px;">
              <p>{{comment.nickname}}: {{comment.comment}}</p>
              <p>{{comment.timestamp|timesince}}</p>
          </div>
      {% endfor %}
    </div>
</div>